
        body {
            margin: 0 auto;
            width: 70%;
            font: 100% Georgia, "Times New Roman", Times, serif;
            }
        p {
            width: 40%;
            line-height: 1.8;   text-align: justify;
            }
        h1{
            font-family: arial, helvetica, sans-serif;
            font-size: 1.6em;
            }
        h2{
            font-size: 2em;
            color: #666;
            position: fixed;
            top: 40px;
            right: 40px;
            }
